{{!-- <h1>Black and White</h1> --}}

{{> partial/nav}}
<div class="formulario">
    <form action="/subir">
        <input type="text" name="imagen" class="form-control my-2" placeholder="Ingrese la url de su imagen">
        <div class="d-flex flex-row-reverse ">
            <button type="submit" class="btn btn-primary">Cargar imagen</button>
        </div>
    </form>

</div>